<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" [style.wight]="'20%'">Название</th>
            <th scope="col" [style.wight]="'10%'">Вес готового блюда (г)</th>
            <th scope="col" [style.wight]="'15%'">Калорийность (Ккал)</th>
            <th scope="col" [style.wight]="'40%'">Ингредиенты</th>
            <th scope="col" [style.wight]="'15%'">Время приготовления (мин)</th>
            <th scope="col" [style.wight]="'80px'"></th>
            <th scope="col" [style.wight]="'80px'">
                <div class="btn btn-primary"
                (click)="onAddProduct()">
                    Добавить товар
                </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <td>{{item.name}}</td>
            <td>{{item.volume}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.data}}</td>
            <td>{{item.until}}</td>
            <td><button class="btn btn-outline-primary btn-sm"
                (click)="onLinkProduct(item.id)">Изменить</button></td>
          </tr>
        </tbody>
      </table>
</div>